@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chat {
  background-image: url("/whatsappBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#svg-parent {
  height: 100px;
  overflow: hidden;
}

.footer {
  height: 100%; 
  width: 100%;
}
#path {
  stroke: none; 
  fill: #334155;
}

.hero-text {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.hero {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}
/* 
h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4 {
  font-size: medium;
} */